language: python
sudo: false
python:
  - 2.7
  - 3.5
  - 3.6
matrix:
  include:
    - python: 3.7
      dist: xenial    # required for Python 3.7 (travis-ci/travis-ci#9069)
      sudo: required  # required for Python 3.7 (travis-ci/travis-ci#9069)
install:
  - pip install setuptools pip --upgrade
  - pip install -e .[test]
  - pip install check-manifest flake8
  - python -m ipykernel install --user
before_script:
  - flake8 . --count --ignore=E203,E731,F811,W503 --max-complexity=23 --max-line-length=104 --show-source --statistics
script:
  # cd so we test the install, not the repo
  - check-manifest
  - cd `mktemp -d`
  - pytest -v --maxfail=2 --cov=papermill --pyargs papermill
  - mv .coverage $TRAVIS_BUILD_DIR/.coverage
  - cd $TRAVIS_BUILD_DIR
  - python setup.py sdist bdist_wheel
  - python -m pip install -U --force-reinstall dist/papermill*.whl
  - python -m pip install -U --force-reinstall --no-deps dist/papermill*.tar.gz
after_success:
  - coverage xml -i
  - codecov
