recursive-include papermill *.py
recursive-include papermill *.ipynb
recursive-include papermill *.json
recursive-include papermill *.yaml
recursive-include papermill *.keep
recursive-include papermill *.txt

include setup.py
include requirements.txt
include requirements-dev.txt
include README.rst
include LICENSE
include MANIFEST.in
include *.md
include *.toml

include versioneer.py
include papermill/_version.py
include .coveragerc

# Documentation
graft docs
# exclude build files
prune docs/_build

# Scripts
graft scripts
