[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "papermill"
dynamic = ["version"]
description = "Parameterize and run Jupyter and nteract Notebooks"
readme = "README.md"
license = {text = "BSD"}
authors = [
    {name = "nteract contributors", email = "nteract@googlegroups.com"}
]
keywords = ["jupyter", "mapreduce", "nteract", "pipeline", "notebook"]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
requires-python = ">=3.10"
dependencies = [
    "click",
    "pyyaml",
    "nbformat>=5.2.0",
    "nbclient>=0.2.0",
    "tqdm>=4.32.2",
    "requests",
    "entrypoints",
    "tenacity>=5.0.2",
    "aiohttp>=3.9.0; python_version=='3.12'",
    "ansicolors",
]

[project.urls]
Documentation = "https://papermill.readthedocs.io"
Funding = "https://nteract.io"
Source = "https://github.com/nteract/papermill/"
Tracker = "https://github.com/nteract/papermill/issues"

[project.scripts]
papermill = "papermill.__main__:papermill"

[project.optional-dependencies]
s3 = ["boto3"]
azure = [
    "azure-datalake-store>=0.0.30,<1.0.0a0",
    "azure-storage-blob>=12.1.0",
    "requests>=2.21.0",
    "azure-identity>=1.3.1",
]
gcs = ["gcsfs>=0.2.0"]
hdfs = ["pyarrow>=2.0"]
github = ["PyGithub>=1.55"]
black = ["black>=19.3b0"]
all = [
    "boto3",
    "azure-datalake-store>=0.0.30,<1.0.0a0",
    "azure-storage-blob>=12.1.0",
    "requests>=2.21.0",
    "azure-identity>=1.3.1",
    "gcsfs>=0.2.0",
    "pyarrow>=2.0",
    "PyGithub>=1.55",
    "black>=19.3b0",
]
dev = [
    "boto3",
    "botocore",
    "codecov",
    "coverage",
    "google_compute_engine",
    "ipython>=5.0,<9.0.0",
    "ipywidgets",
    "notebook",
    "moto>=5.0.0,<5.1.0",
    "pytest>=4.1",
    "pytest-cov>=2.6.1",
    "pytest-mock>=1.10",
    "pytest-env>=0.6.2",
    "requests>=2.21.0",
    "check-manifest",
    "attrs>=17.4.0",
    "pre-commit",
    "tox",
    "bumpversion",
    "recommonmark",
    "pip>=18.1",
    "wheel>=0.31.0",
    "setuptools>=38.6.0",
    "twine>=1.11.0",
    "azure-datalake-store>=0.0.30,<1.0.0a0",
    "azure-storage-blob>=12.1.0",
    "azure-identity>=1.3.1",
    "gcsfs>=0.2.0",
    "black>=19.3b0",
]
test = [
    "boto3",
    "botocore",
    "codecov",
    "coverage",
    "google_compute_engine",
    "ipython>=5.0,<9.0.0",
    "ipywidgets",
    "notebook",
    "moto>=5.0.0,<5.1.0",
    "pytest>=4.1",
    "pytest-cov>=2.6.1",
    "pytest-mock>=1.10",
    "pytest-env>=0.6.2",
    "requests>=2.21.0",
    "check-manifest",
    "attrs>=17.4.0",
    "pre-commit",
    "tox",
    "bumpversion",
    "recommonmark",
    "pip>=18.1",
    "wheel>=0.31.0",
    "setuptools>=38.6.0",
    "twine>=1.11.0",
    "azure-datalake-store>=0.0.30,<1.0.0a0",
    "azure-storage-blob>=12.1.0",
    "azure-identity>=1.3.1",
    "gcsfs>=0.2.0",
    "black>=19.3b0",
]
docs = [
    "boto3",
    "azure-datalake-store>=0.0.30,<1.0.0a0",
    "azure-storage-blob>=12.1.0",
    "requests>=2.21.0",
    "azure-identity>=1.3.1",
    "gcsfs>=0.2.0",
    "pyarrow>=2.0",
    "PyGithub>=1.55",
    "black>=19.3b0",
    "Sphinx>=7.2.6",
    "furo>=2023.9.10",
    "myst-parser>=2.0.0",
    "moto>=4.2.8",
    "sphinx-copybutton>=0.5.2",
]

[tool.setuptools]
packages = ["papermill"]
include-package-data = true

[tool.setuptools.dynamic]
version = {attr = "papermill.version.version"}

# Example configuration for Black.
[tool.black]
line-length = 120
target-version = ['py310']
skip-string-normalization = true


[tool.coverage.run]
branch = false

[tool.coverage.report]
exclude_lines = [
    "if self.debug:",
    "pragma: no cover",
    "raise AssertionError",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
]
omit = [
    "papermill/tests/*",
    "papermill/version.py"
]


[tool.codespell]
quiet-level = 3
# comma separated list of words; waiting for:
#  https://github.com/codespell-project/codespell/issues/2839#issuecomment-1731601603
# also adding links until they ignored by its: nature
#  https://github.com/codespell-project/codespell/issues/2243#issuecomment-1732019960
ignore-words-list = "dne, compiletime"


[tool.ruff]
target-version = "py310"
line-length = 120
# Enable Pyflakes `E` and `F` codes by default.
lint.select = [
    "E", "W",  # see: https://pypi.org/project/pycodestyle
    "F",  # see: https://pypi.org/project/pyflakes
    "I",  # isort
    "RUF100",  # unnecessary noqa comment
    "UP",  # pyupgrade
]
lint.ignore = [
    "E731",  # Do not assign a lambda expression, use a def
    "Q",      # Ignore quotes
    "UP032"  # Ignore Use f-string instead of `format` call
]
# Exclude a variety of commonly ignored directories.
exclude = [
    "docs"
]
format.quote-style = "preserve"

[tool.ruff.lint.pydocstyle]
# Use Google-style docstrings.
convention = "google"

[tool.pytest.ini_options]
env = [
    "AWS_SECRET_ACCESS_KEY=foobar_secret",
    "AWS_ACCESS_KEY_ID=foobar_key",
]
filterwarnings = [
    "ignore:.*imp module is deprecated.*:DeprecationWarning",
]

[tool.bumpversion]
current_version = "2.6.0"
commit = true
tag = true
tag_name = "{new_version}"

[[tool.bumpversion.files]]
filename = "papermill/version.py"

[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = true
envlist = py{310,311,312,313}, dist, manifest, docs, binder

[gh-actions]
python =
    3.10: py310
    3.11: py311
    3.12: py312
    3.13: py313, docs, dist

# Manifest
[testenv:manifest]
skip_install = true
deps = check-manifest
commands = check-manifest
ignore =
    .readthedocs.yaml

# Docs
[testenv:docs]
description = invoke sphinx-build to build the HTML docs
deps =
    .[docs]
extras = docs
commands =
    sphinx-build -d "{toxworkdir}/docs_doctree" docs "{toxworkdir}/docs_out" --color -W -bhtml {posargs}
    python -c 'import pathlib; print("documentation available under file://\\{0\\}".format(pathlib.Path(r"{toxworkdir}") / "docs_out" / "index.html"))'

# Binder
[testenv:binder]
description = ensure /binder/*ipynb are runnable
deps =
    -r binder/requirements.txt
commands = python -c "import glob; import papermill as pm; [pm.execute_notebook(input, '{toxworkdir}/out.ipynb', parameters=\\{'binder_dir':'binder'\\}) for input in glob.glob('binder/**/*.ipynb')]"

# Distro
[testenv:dist]
skip_install = true
deps = build
commands =
    python -m build --outdir {distdir}
    /bin/bash -c 'python -m pip install -U --force-reinstall {distdir}/papermill*.tar.gz'
    /bin/bash -c 'python -m pip install -U --force-reinstall {distdir}/papermill*.whl'

[testenv]
# disable Python's hash randomization for tests that stringify dicts, etc
setenv =
    PYTHONHASHSEED = 0
    AWS_ACCESS_KEY_ID=foobar_key
    AWS_SECRET_ACCESS_KEY=foobar_secret
passenv = *
basepython =
    py310: python3.10
    py311: python3.11
    py312: python3.12
    py313: python3.13
    manifest: python3.13
    dist: python3.13
    docs: python3.13
    binder: python3.13
deps = .[dev]
# Have to use /bin/bash or the `*` will cause that argument to get quoted by the tox command line...
allowlist_externals = /bin/bash
commands = pytest -v --maxfail=2 --cov=papermill -W always {posargs}
"""
