[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "papermill"
dynamic = ["version"]
description = "Parameterize and run Jupyter and nteract Notebooks"
readme = "README.md"
license = "BSD"
requires-python = ">=3.10"
authors = [
    { name = "nteract contributors", email = "nteract@googlegroups.com" },
]
keywords = [
    "jupyter",
    "mapreduce",
    "notebook",
    "nteract",
    "pipeline",
]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    "aiohttp >=3.9.0; python_version==\"3.12\"",
    "click",
    "entrypoints",
    "nbclient >= 0.2.0",
    "nbformat >= 5.2.0",
    "pyyaml",
    "requests",
    "tenacity >= 5.0.2",
    "tqdm >= 4.32.2",
]

[project.optional-dependencies]
all = [
    "# newer versions require changes to authentication",
    "# see https://github.com/nteract/papermill/issues/825",
    "azure-datalake-store >= 0.0.30,<1.0.0a0",
    "azure-identity>=1.3.1",
    "azure-storage-blob >= 12.1.0",
    "black >= 19.3b0",
    "boto3",
    "gcsfs>=0.2.0",
    "pyarrow >= 2.0",
    "PyGithub >= 1.55",
    "requests >= 2.21.0",
]
azure = [
    "# newer versions require changes to authentication",
    "# see https://github.com/nteract/papermill/issues/825",
    "azure-datalake-store >= 0.0.30,<1.0.0a0",
    "azure-identity>=1.3.1",
    "azure-storage-blob >= 12.1.0",
    "requests >= 2.21.0",
]
black = [
    "black >= 19.3b0",
]
dev = [
    "# newer versions of ipython have different imports and require refactoring",
    "# newer versions require changes to authentication",
    "# see https://github.com/nteract/papermill/issues/825",
    "attrs>=17.4.0",
    "azure-datalake-store >= 0.0.30,<1.0.0a0",
    "azure-identity>=1.3.1",
    "azure-storage-blob >= 12.1.0",
    "black >= 19.3b0",
    "boto3",
    "boto3",
    "botocore",
    "bumpversion",
    "check-manifest",
    "codecov",
    "coverage",
    "gcsfs>=0.2.0",
    "google_compute_engine # Need this because boto has issues with dynamic package loading during tests if other google components are there",
    "ipython>=5.0,<9.0.0",
    "ipywidgets",
    "moto >= 5.0.0,<5.1.0",
    "notebook",
    "pip>=18.1",
    "pre-commit",
    "pyarrow >= 2.0",
    "PyGithub >= 1.55",
    "pytest-cov>=2.6.1",
    "pytest-env>=0.6.2",
    "pytest-mock>=1.10",
    "pytest>=4.1",
    "recommonmark",
    "requests >= 2.21.0",
    "requests >= 2.21.0",
    "setuptools>=38.6.0",
    "tox",
    "twine>=1.11.0",
    "wheel>=0.31.0",
]
docs = [
    "# https://docs.readthedocs.io/en/stable/guides/reproducible-builds.html#pinning-dependencies",
    "# newer versions require changes to authentication",
    "# Pin packages for RTD builds",
    "# see https://github.com/nteract/papermill/issues/825",
    "azure-datalake-store >= 0.0.30,<1.0.0a0",
    "azure-identity>=1.3.1",
    "azure-storage-blob >= 12.1.0",
    "black >= 19.3b0",
    "boto3",
    "furo>=2023.9.10",
    "gcsfs>=0.2.0",
    "moto>=4.2.8",
    "myst-parser>=2.0.0",
    "pyarrow >= 2.0",
    "PyGithub >= 1.55",
    "requests >= 2.21.0",
    "sphinx-copybutton>=0.5.2",
    "Sphinx>=7.2.6",
]
gcs = [
    "gcsfs>=0.2.0",
]
github = [
    "PyGithub >= 1.55",
]
hdfs = [
    "pyarrow >= 2.0",
]
s3 = [
    "boto3",
]
test = [
    "# newer versions of ipython have different imports and require refactoring",
    "# newer versions require changes to authentication",
    "# see https://github.com/nteract/papermill/issues/825",
    "attrs>=17.4.0",
    "azure-datalake-store >= 0.0.30,<1.0.0a0",
    "azure-identity>=1.3.1",
    "azure-storage-blob >= 12.1.0",
    "black >= 19.3b0",
    "boto3",
    "boto3",
    "botocore",
    "bumpversion",
    "check-manifest",
    "codecov",
    "coverage",
    "gcsfs>=0.2.0",
    "google_compute_engine # Need this because boto has issues with dynamic package loading during tests if other google components are there",
    "ipython>=5.0,<9.0.0",
    "ipywidgets",
    "moto >= 5.0.0,<5.1.0",
    "notebook",
    "pip>=18.1",
    "pre-commit",
    "pyarrow >= 2.0",
    "PyGithub >= 1.55",
    "pytest-cov>=2.6.1",
    "pytest-env>=0.6.2",
    "pytest-mock>=1.10",
    "pytest>=4.1",
    "recommonmark",
    "requests >= 2.21.0",
    "requests >= 2.21.0",
    "setuptools>=38.6.0",
    "tox",
    "twine>=1.11.0",
    "wheel>=0.31.0",
]

[project.scripts]
papermill = "papermill.__main__:papermill"

[project.urls]
Documentation = "https://papermill.readthedocs.io"
Funding = "https://nteract.io"
Homepage = "https://github.com/nteract/papermill"
Source = "https://github.com/nteract/papermill/"
Tracker = "https://github.com/nteract/papermill/issues"

[tool.hatch.version]
path = "papermill/__init__.py"

[tool.hatch.build.targets.sdist]
include = [
    "/papermill",
]
