ansiwrap
click
future
futures ; python_version < "3.0"
backports.tempfile ; python_version < "3.0"
pyyaml
nbformat
nbconvert >= 5.5
six
tqdm >= 4.32.2
jupyter_client
requests
entrypoints
tenacity
black; python_version >= '3.6'
