codecov
coverage
notebook
mock
pytest>=3.3
pytest-cov
pytest-mock
moto>=1.2.0
check-manifest
black; python_version >= '3.6'
attrs>=17.4.0
pre-commit
# Until https://github.com/spulec/moto/issues/1793 is resolved
boto3 < 1.8.0
botocore < 1.11.0
