ansiwrap
boto3
click
future
futures ; python_version < "3.0"
ipython < 6.0 ; python_version < "3.0"
ipython >= 6.0 ; python_version >= "3.0"
pyyaml
nbformat
nbconvert
six
tqdm
jupyter_client
pandas
requests
