ansiwrap
click
future
futures ; python_version < "3.0"
backports.tempfile ; python_version < "3.0"
ipython >= 5.0
pyyaml
nbformat
nbconvert >= 5.4
six
tqdm >= 4.29.1
jupyter_client
pandas
requests
entrypoints
retry
